      <div id="main-content" class="twelve columns">

        <h1>Rayo.Host</h1>

        <p> Pagamos invoices de Lightning Network por vos
        </p>
        <!--
               <hr>


               <div id="counter" class="group">
                  <span>134 <em>days</em></span> 
                  <span>12 <em>hours</em></span>
                  <span>50 <em>minutes</em></span>
                  <span>33 <em>seconds</em></span> 
               </div>                  
-->
        <!-- MailChimp Signup Form -->
        <div id="mc-signup">

          <form id="mc-form" class="group" action="pay/" method="get">

            <input type="text" value="" name="pay_req" class="email" id="mce-EMAIL" placeholder="" required>

            <input type="submit" value="Pagar" name="subscribe" class="button">

            <label for="mce-EMAIL" class="subscribe-message"></label>

          </form>

        </div> <!-- /sign-up form -->

      </div><!-- /main-content form -->

<!--
      <div class="modal-toggles">
        <ul>
          <li class="about-us"><a href="#mod-about">More about us</a></li>
          <li class="location"><a href="#mod-map">Our Location</a></li>
        </ul>
        -->
      </div><!-- /modal-toggles -->
