      <div id="main-content" class="twelve columns">

        <h1>Puedo pagar eso</h1>

        <p> Aca abajo apareceran las opciones de pago cuando el sitio este online</p>

      </div><!-- /main-content form -->
<!-- 
      <div class="modal-toggles">
        <ul>
          <li class="about-us"><a href="/mpago/{{pay_req}}">Mpago</a></li>
          <li class="location"><a href="#mod-map">Otros.. soon</a></li>
          <li class="location"><a href="#mod-map">Otros.. soon</a></li>
        </ul>
        -->
      </div><!-- /modal-toggles -->
